{{- $classes := split (.Get "classes") " " -}}
{{- $src := .Get "src" -}}
{{- $thumb := .Get "thumbnail" | default $src -}}
{{- $title := .Get "title" -}}
{{- $cls := slice -}}
{{- range $classes -}}{{- if and (ne . "fancybox") (ne . "clear") -}}{{- $cls = $cls | append . -}}{{- end -}}{{- end -}}
<div class="figure {{ delimit $cls " " }}">
  <a href="{{ $src }}">
    <img class="fig-img" src="{{ $thumb }}"{{ with $title }} alt="{{ . }}"{{ end }} loading="lazy">
  </a>
  {{- with $title }}{{ if not (in $classes "nocaption") }}<span class="caption">{{ . }}</span>{{ end }}{{ end -}}
</div>
{{- if in $classes "clear" }}<div style="clear:both"></div>{{ end -}}
