*.html
!blog.dim.html
!news.dim.html
!static/header.html
!static/footer.html
index.html
contents.html
*.el.html
tags/*.muse
!tags/index.muse
!cloud.html
static/bootstrap
static/FontAwesome
static/highlight.js
static/jquery-1.9.1.min.js
static/jqcloud*
