RedirectMatch permanent ^/blog.dim.xml http://tapoueh.org/rss/postgresql.xml
RedirectMatch permanent ^/news.dim.xml http://tapoueh.org/rss/emacs.xml
RedirectMatch permanent ^/misc.html http://tapoueh.org/projects.html
RedirectMatch permanent ^/articles/news/_el-get.html http://tapoueh.org/emacs/el-get.html
