<article class="postShorten">
  <div class="postShorten-wrap">
    <div class="postShorten-header">
      <h1 class="postShorten-title" itemprop="headline">
        {{ .Title }}
      </h1>
      <div class="postShorten-meta post-meta">
        {{ if not (eq .Params.showDate false)  }}
        <time itemprop="datePublished"
              datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ partial "internal/date.html" . }}
        </time>
        {{ end }}
        in {{ .Params.city }}
      </div>
    </div>
    <div class="postShorten-excerpt" itemprop="articleBody">
      {{ with .Params.conference }}
      <div class="conference">
        <p> {{ . | markdownify }} </p>
      </div>
      {{ end }}
    </div>

    {{ with .Params.youtube }}
    <center style="margin-bottom: 1em;">
      <iframe src="http://www.youtube.com/embed/{{ . }}"
              width="560" height="315" frameborder="0" allowfullscreen>
      </iframe>
    </center>
    {{ end }}

    {{ with .Params.vimeo }}
    <center style="margin-bottom: 1em;">
      <iframe src="https://player.vimeo.com/video/{{ . }}"
              width="640" height="360" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </center>
    {{ end }}

    <div class="talk">
      {{ with .Params.summary }}
      <div class="summary">
        <p> {{ . | markdownify }} </p>
      </div>
      {{ end }}
      <div class="talk-slides">
        {{ range .Params.slides }}
        {{ $slide := split . ";" }}
        <a href="{{ index $slide 1 }}">
          <img src="{{ index $slide 0 }}"/>
        </a>
        {{ end }}
      </div>
    </div>
</article>
