p {
    text-align: justify;
    font-weight: normal;
    font-size: 115%;
}

.dim-margin {
    padding-left: 1em;
    padding-right: 1em;
}

.container img {
    margin-top: 3em;
}

hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-top: 3px double #8c8b8b;
    width: 80%;
}

.center {
    text-align: center;
}

.article-count {
    font-size: .75em;
    font-weight: normal;
}

/* .post-header-cover { */
/*     opacity: .4 */
/* } */

.highlight > pre {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    margin: 0;
    cursor: text;
    overflow-x: auto;
    line-height: 1em;
    /* font-size: 1.4rem; */
}

/* fix layout for firefox */
#disqus_thread {
    clear: both;
}

.postShorten-group .postShorten {
    border-bottom-width: 5px;
}

/*
 * Conferences
 */
.talk .conference {
    float: left;
    width: 42%;
    margin-bottom: 0;
    padding: 0 1em 0 1em;
    font-style: italic;
}

.talk .summary {
    float: left;
    width: 42%;
    padding: 0 1em 0 1em;
    font-size: .8em;
}

.talk-slides > a img {
    float: rigth;
    width: 42%;
    margin-left: 1em;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px #888888;    
}

figure.right {
    float: right;
    clear: left;
}
