p {
    text-align: justify;
    font-weight: normal;
    font-size: 115%;
}

.dim-margin {
    padding-left: 1em;
    padding-right: 1em;
}

.container img {
    margin-top: 3em;
}

hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-top: 3px double #8c8b8b;
    width: 80%;
}

.center {
    text-align: center;
}

.article-count {
    font-size: .75em;
    font-weight: normal;
}
