{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        <span style="float: left; width: 35%">
          <i class="fa fa-calendar"></i> {{ partial "internal/date.html" . }}
        </span>
      </time>
    {{ end }}
    <span style="float: right; width: 65%">
      <i class="fa fa-clock-o"></i> {{ .ReadingTime }} mins read
      {{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
      &nbsp; <i class="fa fa-paperclip"></i> {{ .WordCount }} words
      {{ end }}
    </span>
    <span style="float: left; width: 35%">
      <i class="fa fa-bookmark"></i> {{ partial "post/category.html" . }}
    </span>
    <div>
      <p>
        {{ range .Params.tags }}
        {{ if  not ( or (eq . "PostgreSQL") (eq . "YeSQL")) }}
        <a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}/">
          <i class="fa fa-tag"></i> {{ . }}
        </a>
        {{ end }}
        {{ end }}
      </p>
    </div>
  </div>
{{ end }}
