<!-- <div style="margin-top: 1em;"> -->
<!--  <a href="https://theartofpostgresql.com" alt="The Art of PostgreSQL"> -->
<!--   <img src="/img/taopg-cta.jpg" style="width:90%; height: auto; margin-left: 5%"> -->
<!--  </a> -->
<!-- </div> -->

<div style="margin-top: 1em;">
 <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
 <a data-thrivecart-account="theartofpostgresql" data-thrivecart-tpl="v2" data-thrivecart-product="18" class="thrivecart-button ">
  <img src="https://spark.thrivecart.com/0x0/https%3A%2F%2Fthrivecart.s3.amazonaws.com%2Fuser_assets%2FNABJ5K7H%2Fproducts%2F18%2Ftaopg-cta-1661268188.jpg"
       style="width:90%; height: auto; margin-left: 5%"/>
 </a>
</div>
