{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}

      <a href="http://theartofpostgresql.com">
       <div id="blog-title">
        <h1> Learn how to use PostgreSQL as a developer </h1>
       </div>
      </a>

      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <section class="postShorten-group main-content-wrap">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 5 }}
          {{ range first 1 $paginator.Pages }}
            {{ .Render "summary" }}
          {{ end }}          
          <hr />
          <article class="postShorten">
            <div class="postShorten-wrap">
              <!-- <script async -->
              <!--         id="_ck_252762" -->
              <!--         src="https://forms.convertkit.com/252762?v=6"> -->
              <!-- </script> -->
              <a href="http://theartofpostgresql.com" alt="The Art Of PostgreSQL">
               <img src="/images/TAOP_Prelaunch_Campaign_updated_tapoueh_article_ad1_750x400.png">
              </a>
            </div>
          </article>
          {{ if gt (len $paginator.Pages) 1 }}
            {{ range after 1 $paginator.Pages }}
              <hr />
              {{ .Render "summary" }}
            {{ end }}
          {{ end }}
          {{ partial "pagination.html" . }}
        </section>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
