{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}

       <!-- <div id="blog-title"> -->
       <!--  <h1> Learn how to use PostgreSQL as a developer </h1> -->
       <!-- </div> -->

       <div id="blog-title" class="taop">
        <a href="http://theartofpostgresql.com">
        <div class="row">
         <div class="col-md-12">
          <section class="ny-body">
           <p class="ny-desc">
            What if you could turn<br>
            thousands of lines of code into<br>
            simple queries?
           </p>
          </section>        
         </div>
        </div>
        </a>
       </div>

      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
        <section class="postShorten-group main-content-wrap">
          {{ range first 1 (.Paginate (where site.Pages "Type" "post")).Pages }}
            {{ .Render "summary" }}
          {{ end }}          
          <hr />          
          <article class="postShorten">
           <h2 style="text-align: center">I wrote a book!</h2>
           {{ partial "post/taopcta.html" . }}
          </article>
          {{ range first 5 (after 2 (.Paginate (where site.Pages "Type" "post")).Pages) }}
            <hr />
            {{ .Render "summary" }}
          {{ end }}
          {{ partial "pagination.html" . }}
        </section>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
