@font-face {
    font-family: 'Bookman';
    src: url("../font/Bookman-Medium.woff2") format("woff2"), url("../font/Bookman-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

p {
    text-align: justify;
    font-weight: normal;
    font-size: 115%;
    text-rendering: optimizeLegibility;
}

.dim-margin {
    padding-left: 1em;
    padding-right: 1em;
}

.container img {
    margin-top: 3em;
}

/* hr {  */
/*     display: block; */
/*     margin-top: 2em; */
/*     margin-bottom: 2em; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     border-style: inset; */
/*     border-width: 1px; */
/*     border-top: 3px double #8c8b8b; */
/*     width: 80%; */
/* } */

hr {
    /* border-top: 1px solid #8c8b8b; */
    border-top: 1px solid;
    text-align: center;
}

hr:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: white;
    /* color: #8c8b8b; */
    /* font-size: 18px; */
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 3em;
}

.center {
    text-align: center;
}

.article-count {
    font-size: .75em;
    font-weight: normal;
}

/* .post-header-cover { */
/*     opacity: .4 */
/* } */

.highlight > pre {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    margin: 0;
    cursor: text;
    overflow-x: auto;
    line-height: 1em;
    /* font-size: 1.4rem; */
}

/* fix layout for firefox */
#disqus_thread {
    clear: both;
}

.postShorten-group .postShorten {
    border-bottom-width: 0px;
}

/*
 * Conferences
 */
.talk .conference {
    float: left;
    width: 42%;
    margin-bottom: 0;
    padding: 0 1em 0 1em;
    font-style: italic;
}

.talk .summary {
    float: left;
    width: 42%;
    padding: 0 1em 0 1em;
    font-size: .8em;
}

.talk-slides > a img {
    float: rigth;
    width: 42%;
    margin-left: 1em;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px #888888;    
}

/*
 * Float Figures
 */
figure.right {
    float: right;
    clear: left;
}

/*
 * Buttons to buy a book
 */
div.button {
    text-align: center;
    margin: 2em;
}

div.button a {
    color: white;
    border-radius: 5px;
    background-color: #ff4f4f;
    padding: 15px;
    font-size: 150%;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* 
 * Main title for the blog, H1
 */
.taop {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  align-items: center;
  justify-content: center;
  padding: 10.45% 0.9375em 3%;
  padding: 15vh 0.9375em 4vh;
  background: #291b39 url("../img/cs-bg.png") no-repeat center;
  background-size: cover;     
}

.taop p .ny-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 3.75em;
  font-family: "Bookman";
  line-height: 1.6;
}

.ny-desc {
    margin: 2vh 0;
    text-align: center;
}

.taop a:hover {
    color: white;
    text-decoration: none;
}

.taop p {
    color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3.75em;
    line-height: 1.6;
    font-family: "Bookman";
}

.ny-title {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.75em;
  margin: 0;
  color: white;
  font-family: "Arima Madurai";
  text-align: center;
}

.taop h3 {
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 0.75em;
    text-align: center;
    color: white;
    font-weight: lighter;
    border: 1px solid white;
    border-radius: 25px;
    padding: 0;
    width: 30%;
    margin-top: 3em;
    margin-left: 35%;
}
