p {
    text-align: justify;
    font-weight: normal;
    font-size: 115%;
}

.dim-margin {
    padding-left: 1em;
    padding-right: 1em;
}

.container img {
    margin-top: 3em;
}

/* hr {  */
/*     display: block; */
/*     margin-top: 2em; */
/*     margin-bottom: 2em; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     border-style: inset; */
/*     border-width: 1px; */
/*     border-top: 3px double #8c8b8b; */
/*     width: 80%; */
/* } */

hr {
    /* border-top: 1px solid #8c8b8b; */
    border-top: 1px solid;
    text-align: center;
}

hr:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: white;
    /* color: #8c8b8b; */
    /* font-size: 18px; */
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 3em;
}

.center {
    text-align: center;
}

.article-count {
    font-size: .75em;
    font-weight: normal;
}

/* .post-header-cover { */
/*     opacity: .4 */
/* } */

.highlight > pre {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    margin: 0;
    cursor: text;
    overflow-x: auto;
    line-height: 1em;
    /* font-size: 1.4rem; */
}

/* fix layout for firefox */
#disqus_thread {
    clear: both;
}

.postShorten-group .postShorten {
    border-bottom-width: 0px;
}

/*
 * Conferences
 */
.talk .conference {
    float: left;
    width: 42%;
    margin-bottom: 0;
    padding: 0 1em 0 1em;
    font-style: italic;
}

.talk .summary {
    float: left;
    width: 42%;
    padding: 0 1em 0 1em;
    font-size: .8em;
}

.talk-slides > a img {
    float: rigth;
    width: 42%;
    margin-left: 1em;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px #888888;    
}

/*
 * Float Figures
 */
figure.right {
    float: right;
    clear: left;
}

/*
 * Buttons to buy a book
 */
div.button {
    text-align: center;
    margin: 2em;
}

div.button a {
    color: white;
    border-radius: 5px;
    background-color: #ff4f4f;
    padding: 15px;
    font-size: 150%;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

/* 
 * Main title for the blog, H1
 */
#blog-title {
    background-color: white;
    /* background: url('/img/elephant-herd-shadow-falls.jpg') center top no-repeat; */
    background: url('/img/elephant-herd-steps-of-giants.jpg') center top no-repeat;
    width: 100%;
    padding: 1em;
}

#blog-title h1 {
    font-size: 6.5rem;
    line-height: 1.3em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
    margin: 10%;
}
