.collapse ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.collapse li {
    display: inline;
}

.collapse li a {
    /* display: block; */
    color: #349ef3;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.collapse li a:hover {
    color: black;
}

.collapse li + li:before {
    content: " | ";
}
