<header id="header" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <i id="btn-open-sidebar" class="fa fa-lg fa-bars"></i>
  <div class="navbar-collapse collapse header-title" id="navigation">
    <ul class="nav navbar-nav navbar-right">
      {{ range .Site.Menus.top }}
      <li class="dropdown">
        {{ if .HasChildren }}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {{ range .Children }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ else }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end  }}
      </li>
      {{ end }}
    </ul>
  </div>

  {{ with .Site.Params.header.rightLink }}
    {{ if and (in .url ":") (not (in .url (printf "%s" $.Site.BaseURL))) }}
      <a class="{{ if .icon }}header-right-icon {{ else }}header-right-picture {{ end }}{{ with .class }}{{ . }}{{ end }}"
         href="{{ .url | safeURL }}" target="_blank">
    {{ else if .url }}
      <a class="{{ if .icon }}header-right-icon {{ else }}header-right-picture {{ end }}{{ with .class }}{{ . }}{{ end }}"
         href="{{ .url | safeURL }}">
    {{ end }}
    {{ if .icon }}
      <i class="fa fa-lg fa-{{ .icon }}"></i>
    {{ end }}
    {{ if not $.Site.Params.header.rightLink.icon }}
      {{ with ($.Scratch.Get "authorPicture") }}
        <img class="header-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=90{{ end }}" alt="{{ i18n "global.author_picture" }}" />
      {{ end }}
    {{ end }}
    </a>
  {{ end }}
</header>
