body {
  /* font-size: 125%; */
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1         { font-size: 4em; }
h2         { font-size: 3em; }
h3         { font-size: 2em; }
h4, h5, h6 { font-size: 1em; }
small    { font-size: 0.75em; }

body, .no-fontface body, .wf-inactive body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, .no-fontface h1, .wf-inactive h1,
h2, .no-fontface h2, .wf-inactive h2,
h3, .no-fontface h3, .wf-inactive h3,
h4, .no-fontface h4, .wf-inactive h4,
h5, .no-fontface h5, .wf-inactive h5,
h6, .no-fontface h6, .wf-inactive h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

code, .no-fontface code, .wf-inactive code {
  font-family: Menlo, Consolas, monospace;
}

pre, .no-fontface pre, .wf-inactive pre {
  font-family: Menlo, Consolas, monospace;
  font-size: 1.1em;
}

nav h2 {
  margin: 0.25em 0 0 0;
  padding: 0;
  line-height: 1;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 1em 0;
  text-align: justify;
}

center p {
  text-align: center;
}

footer {
  margin-top: 2em;
}

@media screen {
  header h1 :link, header h1 :visited {
    color: black;
  }
  header h1 :link, header h1 :visited,
  nav :link, nav :visited {
    text-decoration: none;
  }
}

@media screen and (max-device-width: 480px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0 4px;
  }
  h1                 { font-size: 1.5em; }
  h2, h3, h4, h5, h6 { font-size: 1em; }
  nav li a {
    display: block;
  }
}

@media screen and (min-device-width: 800px) {
  .wf-active body {
    font-family: Nobile, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .wf-active h1, .wf-active h2, .wf-active h3,
  .wf-active h4, .wf-active h5, .wf-active h6 {
    font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  body {
    width: 40em;
    margin: 1em auto;
    padding: 0;
  }

  nav {
    float: left;
    width: 30%;
    margin: 0 1em 1em 0;
  }

  .dual nav {
    float: left;
    width: 42%;
    margin: 0 0.5em 1em 1.5em;
  }

  .cloud p {
    width: 72%;
    margin-left: 8em;
  }

  .cloud img {
    float: left;
    margin-top: 0.75em;
  }

  body > div {
     position: relative;
  }

  #logo {
    position: absolute;
    text-align: center;
    left: 40em;
    width: 100px;
    z-index: 2;
    font-family: Menlo, Consolas, monospace;
  }

  #logo img {
    margin-top: 2em;
  }

  #breadcrumb {
     width: 100%;
     /* margin-left: 10em; */
     color: #888;
     text-align: center;
  }

  #breadcrumb a {
     font-size: 2em;
     color: #888;
  }

  footer {
    clear: left;
  }
}

/* colors */
body {
  background-color: #fff;
  color: #000;
}

h1 .amp, h2 .amp, h3 .amp {
  color: #333;
}

h1 a, h2 a, h3 a.entry-title {
  color: #000;
}

/* Links */

a { border-color: #ccc; }

a, pre.email a, pre.lettering a, pre.lyrics a, pre.verse a {
  color: #933;
}

h1 a:hover, h2 a:hover, h3 a.entry-title:hover {
  color: #933;
}

h1 a:hover .amp, h2 a:hover .amp {
  color: #933;
}

pre a {
  color: #ffc;
}

.error {
  background-color: #f00;
  color: #fff;
}

.source {
   color: #333;
}

.cloud em, pre em {
  background-color: inherit;
}

pre, pre code {
  background-color: #000;
  border-color: #111;
  color: #ccc;
}

.white pre {
  background-color: white;
  border-color: black;
}

pre em {
  color: #fff;
}

pre ins {
  background-color: #333;
  color: #fff;
}


label, .legalese {
  color: #333;
}

.date {
  color: #888;
  font-size: 0.75em;
}

div.date {
  text-align: right;
}

@media print {
  * {
    background-color: inherit;
    border-color: transparent;
    color: #000;
  }

  .aside {
    border-color: #000;
  }
}
