html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* the bottom margin is the negative value of the footer's height */
	margin: 0 auto -62px;
}
footer, #push {
    height: 62px; /* .push must be the same height as .footer */
}

footer {
    background-color: black;
}

footer p {
    text-align: center;
    font-size: 1.2em;
}

body {
  /* font-size: 125%; */
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 3em;
  padding-left: 3em;
  font-size: 125%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1         { font-size: 3em; padding-bottom: 0.5em; text-align: center;}
h2         { font-size: 3em; text-align: right; padding-top: 0.3em;}
h3         { font-size: 2em; }
h4, h5, h6 { font-size: 1em; }
small      { font-size: 0.75em; }

body, .no-fontface body, .wf-inactive body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

h1, .no-fontface h1, .wf-inactive h1,
h2, .no-fontface h2, .wf-inactive h2,
h3, .no-fontface h3, .wf-inactive h3,
h4, .no-fontface h4, .wf-inactive h4,
h5, .no-fontface h5, .wf-inactive h5,
h6, .no-fontface h6, .wf-inactive h6 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

code, .no-fontface code, .wf-inactive code {
  font-family: Menlo, Consolas, monospace;
}

pre, .no-fontface pre, .wf-inactive pre {
  font-family: Menlo, Consolas, monospace;
  font-size: 1.1em;
}

nav h2 {
  margin: 0.25em 0 0 0;
  padding: 0;
  line-height: 1;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 1em 0;
  text-align: justify;
}

center p {
  text-align: center;
}

center > img {
    padding-top: 2em;
}

center + p {
    padding-top: 2em;
}

.date {
    color: #888;
    text-align: right;
    clear: left;
}

div.thumbnail > div.date {
    text-align: right;
    font-size: 75%;      
}

div.date {
    text-align: right;
    font-size: 125%;
/* margin-top: 2em; */
/* margin-bottom: 3em; */
}

#prevnext {
    margin-top: 1em;
    clear: left;
    float: left;
    width: 100%;
}

#prevnext h3 {
    width: 100%;
    text-align: center;
}

#prevnext a {
    color: #888;
}

#prevnext .previous {
    float: left;
}

#prevnext .next {
    float: right;
}

#social ul {
    margin: 0px;
    padding: 0px;
}

#social li {
    list-style-type: none;
    list-style-position: outside;
}

/* colors */
body {
  background-color: #fff;
  color: #000;
}

h1 .amp, h2 .amp, h3 .amp {
  color: #333;
}

h1 a, h2 a, h3 a.entry-title {
  color: #000;
}

/* Links */

a { border-color: #ccc; }

a, pre.email a, pre.lettering a, pre.lyrics a, pre.verse a {
  color: #933;
}

h1 a:hover, h2 a:hover, h3 a.entry-title:hover {
  color: #933;
}

h1 a:hover .amp, h2 a:hover .amp {
  color: #933;
}

#prevnext {
    margin-bottom: 4em;
    margin-top: 4em;
}

.social {
    text-align: center;
}

.social a, .social a:hover {
    color: black;
}

pre a {
  color: #ffc;
}

.error {
  background-color: #f00;
  color: #fff;
}

.source {
   color: #333;
}

.cloud em, pre em {
  background-color: inherit;
}

pre, pre code {
  background-color: #E0E8E7;
  border-color: black;
  color: black;
}

.white pre {
  background-color: white;
  border-color: black;
}

pre em {
  color: #fff;
}

pre ins {
  background-color: #333;
  color: #fff;
}


label, .legalese {
  color: #333;
}

@media print {
  * {
    background-color: inherit;
    border-color: transparent;
    color: #000;
  }

  .aside {
    border-color: #000;
  }
}
